# Exercise 6.1

In [6]:
import pandas as pd
import numpy as np
import os
import scipy 
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
path = r'C:\Users\javed\Achievement 6'

In [12]:
df = pd.read_csv(os.path.join(path, 'Data', 'ac6_dataset.csv'), index_col = False)

In [14]:
df.head(10)

,Date Reported,Country Code,Country,New Cases,Cumulative Cases,New Deaths,Cumulative Deaths
0,1/3/2020,AF,Afghanistan,0,0,0,0
1,1/4/2020,AF,Afghanistan,0,0,0,0
2,1/5/2020,AF,Afghanistan,0,0,0,0
3,1/6/2020,AF,Afghanistan,0,0,0,0
4,1/7/2020,AF,Afghanistan,0,0,0,0
5,1/8/2020,AF,Afghanistan,0,0,0,0
6,1/9/2020,AF,Afghanistan,0,0,0,0
7,1/10/2020,AF,Afghanistan,0,0,0,0
8,1/11/2020,AF,Afghanistan,0,0,0,0
9,1/12/2020,AF,Afghanistan,0,0,0,0

In [15]:
df.shape

(163076, 7)

In [18]:
df.describe()

           New Cases  Cumulative Cases     New Deaths  Cumulative Deaths
count  163076.000000      1.630760e+05  163076.000000      163076.000000
mean     1578.826829      3.928679e+05      31.630638        8859.199490
std      9421.347970      2.234559e+06     166.859436       43429.819531
min    -32952.000000      0.000000e+00     -92.000000           0.000000
25%         0.000000      6.200000e+01       0.000000           0.000000
50%        15.000000      5.799000e+03       0.000000          90.000000
75%       402.000000      1.001338e+05       6.000000        1721.000000
max    414188.000000      4.743479e+07    8786.000000      767278.000000

In [33]:
df['Cumulative Deaths'].mean()

8859.199489808432

In [34]:
df['Cumulative Deaths'].max()

767278

In [35]:
df['Cumulative Deaths'].sum()

1444722816

In [36]:
df['Cumulative Deaths'].min()

0

In [37]:
df['New Deaths'].mean()

31.630638475312125

In [38]:
df['New Deaths'].max()

8786

In [39]:
df['New Deaths'].sum()

5158198

In [40]:
df['New Deaths'].min()

-92

In [41]:
df['New Cases'].mean()

1578.8268292084672

In [42]:
df['New Cases'].max()

414188

In [43]:
df['New Cases'].min()

-32952

In [44]:
df['New Cases'].sum()

257468764